workflow.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Playlist do Momento",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome",
              "requiredField": true
            },
            {
              "fieldLabel": "E-mail",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Idade",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Cidade",
              "requiredField": true
            },
            {
              "fieldLabel": "Estado",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "AC"
                  },
                  {
                    "option": "AL"
                  },
                  {
                    "option": "AP"
                  },
                  {
                    "option": "AM"
                  },
                  {
                    "option": "BA"
                  },
                  {
                    "option": "CE"
                  },
                  {
                    "option": "ES"
                  },
                  {
                    "option": "GO"
                  },
                  {
                    "option": "MA"
                  },
                  {
                    "option": "MT"
                  },
                  {
                    "option": "MS"
                  },
                  {
                    "option": "MG"
                  },
                  {
                    "option": "PA"
                  },
                  {
                    "option": "PB"
                  },
                  {
                    "option": "PR"
                  },
                  {
                    "option": "PE"
                  },
                  {
                    "option": "PI"
                  },
                  {
                    "option": "RJ"
                  },
                  {
                    "option": "RN"
                  },
                  {
                    "option": "RS"
                  },
                  {
                    "option": "RO"
                  },
                  {
                    "option": "RR"
                  },
                  {
                    "option": "SC"
                  },
                  {
                    "option": "SP"
                  },
                  {
                    "option": "SE"
                  },
                  {
                    "option": "TO"
                  },
                  {}
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Humor",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Feliz"
                  },
                  {
                    "option": "Triste"
                  },
                  {
                    "option": "Com energia"
                  },
                  {
                    "option": "Cansado"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -800,
        144
      ],
      "id": "4f817bab-d981-4e9b-8a68-42fd6379ee81",
      "name": "On form submission",
      "webhookId": "fb695725-90a8-431a-bad8-326b475b9280"
    },
    {
      "parameters": {
        "url": "https://geocoding-api.open-meteo.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=name",
              "value": "={{ $json[\"Cidade\"] }}"
            },
            {
              "name": "country",
              "value": "Brazil"
            },
            {
              "name": "count",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        144
      ],
      "id": "edef8225-4bd0-4fe5-8040-8a503ef4ff6b",
      "name": "Buscar Coordenadas (Geocoding)"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $json.results[0].latitude }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.results[0].longitude }}"
            },
            {
              "name": "current_weather",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        144
      ],
      "id": "455aee89-17de-4b31-96a9-28b24ff8e87b",
      "name": "Consultar Previsão do Tempo"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "Você é um curador musical especializado. Sua tarefa é sugerir um gênero musical com base em três variáveis: Idade, Humor e Clima.\n\nRegras:\n1. IDADE: Se < 25 anos (trends atuais/urbanos), 25-50 anos (clássicos modernos/nostalgia), > 50 anos (clássicos tradicionais).\n2. HUMOR: Se \"Feliz\" (ritmos animados), Se \"Triste\" (ritmos lentos/melancólicos), Se \"Ansioso\" (lo-fi/relaxante).\n3. CLIMA: Se > 25°C (ritmos quentes: Reggae, Pop, Samba), Se < 20°C (ritmos intimistas: Jazz, Blues, MPB).\n\nResponda sempre neste formato:\nGênero Sugerido: [Nome]\nPor que: [Justificativa curta baseada nos dados fornecidos]",
              "role": "model"
            },
            {
              "content": "=Por favor, sugira uma música com base nestes dados:\n- Idade do usuário: {{ $('On form submission').item.json.Idade }} anos\n- Humor declarado: {{ $('On form submission').item.json.Humor }}\n- Cidade: {{ $('On form submission').item.json.Cidade }}\n- Temperatura atual: {{ $json.current_weather.temperature }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -176,
        144
      ],
      "id": "389dfa87-e701-4210-a659-4893e1e6dcec",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "xJWtxj51v8xMJAwm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "playlistdomomento2026@gmail.com",
        "toEmail": "={{ $('On form submission').item.json['E-mail'] }}",
        "subject": "=Sugestão de playlist",
        "emailFormat": "text",
        "text": "=Olá! \n\nAnalisamos o seu perfil e as condições atuais para te dar a melhor recomendação musical:\n\nLocalização: {{ $node[\"On form submission\"].json[\"Cidade\"] }}\nClima atual: {{ $node[\"Consultar Previsão do Tempo\"].json[\"current_weather\"][\"temperature\"] }}°C\nMood: {{ $node[\"On form submission\"].json[\"Humor\"] }}\n\n---\n\nRECOMENDAÇÃO DO GEMINI\n\n{{ $json.content.parts[0].text }}\n\n---\n\nComo ainda estamos preparando nosso sintonizador de playlists automáticas, você pode pesquisar por esse gênero no seu app de música favorito para curtir o seu momento!\n\nAproveite o seu dia,\nEquipe Playlist do Momento",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        224,
        144
      ],
      "id": "99081f3e-1c6b-4632-86fa-2384f97d0172",
      "name": "Enviar e-mail",
      "webhookId": "58cf6d94-abd9-4c99-88b6-37493f6a1369",
      "credentials": {
        "smtp": {
          "id": "U8qLUkUw37y2Gupa",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Buscar Coordenadas (Geocoding)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Coordenadas (Geocoding)": {
      "main": [
        [
          {
            "node": "Consultar Previsão do Tempo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Previsão do Tempo": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Enviar e-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3098ce4d-ab91-4c25-a6be-1b47d732d782",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b9365cfaf31821afeb6087cd1ffb01b3d9253ae9a47727892b369487c73fb66"
  },
  "id": "DDYm8a4lkPAQQpp9",
  "tags": []
}